<div class="container mt-5">
  <div class="row p-3">
    <label for="Name" class="col-md-1">Name</label>
    <input [(ngModel)]="myStudent.myNames" type="text" class="col-md-4" id="Name" >
    <div *ngIf="checkName()" class="col-md-4 text-bg-danger m-lg-1">The Name Must Be Define</div>
  </div>
  <div class="row p-3">
    <label for="age" class="col-md-1">Age</label>
    <input [(ngModel)]="myStudent.myAges" type="number" class="col-md-4" id="age">
    <div *ngIf="checkAge()" class="col-md-4 text-bg-danger m-lg-1">The Age Must Be GREATER THAN 18</div>
  </div>
  <button  class="btn col-md-5 bg-success text-light ms-3" (click)="addToTable()">Add</button>

 
<div class="p-4">
  <table class="table rounded-3  p-1  ">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Age</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let myStudent of student;let i = index">
      <th>{{myStudent.ID}}</th>
      <td>{{myStudent.Name}}</td>
      <td>{{myStudent.Age}}</td>
      <td><button  class="btn btn-danger " (click)="removeFromTable(i)">Remove</button></td>
    </tr>
  </tbody>
</table></div>
</div>